{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <form action="{% url 'pedidos:crear' %}" id="formulario_pedido" method="POST">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success" id="alert-messages">
        <button id="message_close" type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
        <i class="material-icons sign md-icon dp48">check</i>
        <strong>{{ message }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  <div class="row inputs">
    <div class="col s12 m10">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s5">
          {{ form.descripcion }}
          {{ form.descripcion.label_tag }}
          {{ form.descripcion.errors  }}
        </div>
        <div class="input-field col s5">
          {{ form.fecha }}
          {{ form.fecha.label_tag }}
          {{ form.fecha.errors  }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s5">
          {{ form.proveedor }}
          {{ form.proveedor.label_tag }}
          {{ form.proveedor.errors  }}
        </div>
        <div class="input-field col s5">
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <table >
            {{ detalle_form.management_form }}
            {% for form in detalle_form.forms %}
              {% if forloop.first %}
                <thead>
                  <tr>
                      {% for field in form.visible_fields %}
                          <th>{{ field.label|capfirst }}</th>
                      {% endfor %}
                  </tr>
                </thead>
              {% endif %}
              <tr class="formset_row">
                {% for field in form.visible_fields %}
                  <td>
                    {# Include the hidden fields in the form #}
                    {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    {% endif %}
                    {{ field }}
                    {{ field.errors.a }}
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s5 offset-s7">
          {{ form.total }}
          {{ form.total.label_tag }}
          {{ form.total.errors  }}
        </div>
      </div>
  </div>
<div class="col m2">
    <div class="center">
      <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red md-icon dp48 tooltipped" id="guardarPedido" name="guardarPedido" data-position="left" data-delay="50" data-tooltip="Guardar"><i class="material-icons">save</i>Left</button>
    </div>
    <div class="center">
      <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red md-icon dp48 tooltipped" id="buscarPedido" name="buscarPedido" data-position="left" data-delay="50" data-tooltip="Buscar"><i class="material-icons">search</i>Left</button>
    </div>
    <div class="center">
      <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red tooltipped" id="modificarPedido" name="modificarPedido" data-position="left" data-delay="50" data-tooltip="Modificar"><i class="material-icons">add</i>Left</button>
    </div>
    <div class="center">
      <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red md-icon dp48 tooltipped" id="eliminarPedido" name="eliminarPedido" data-position="left" data-delay="50" data-tooltip="Eliminar"><i class="material-icons">cancel</i>Left</button>
    </div>
    <div class="center">
      <a type="submit" style="margin: 1em 0;" href="{% url 'pedidos:listar' %}" class="btn-floating btn-large waves-effect waves-light red md-icon dp48 tooltipped" id="listarPedido" name="listarPedido" data-position="left" data-delay="50" data-tooltip="Listar"><i class="material-icons">assignment</i>Left</a>
    </div>

</div>
</div>

</form>
{% endblock %}
{% block content_modal %}

<div id="modal-alert" class="modal">
  <div class="modal-content">
    <div class="logo">
      <figure>
        <img src="/static/images/logo.png" alt="">
      </figure>
    </div>
    <h2 id="title_modal" class="title_modal"></h2>
    <p id="text-modal" class="text-modal"></p>
    <div class="errors" id="errors"></div>
    <div class="row inputs input_consulta" id="input_consulta">
      <div class="input-field col s10">
        <input type="text" placeholder="" id="consulta_ped" name="consulta_ped">
        <label for="consulta_ped">*Ingrese el pedido:</label>
        <input type="hidden" id="id_pedido_hidden" name="id_pedido_hidden">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button id="cancelar_ped" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</button>
    <button id="consultar_ped" class=" modal-action modal-close waves-effect waves-green btn-flat">Consultar</button>
  </div>
</div>
{% endblock %}

{% block js %}
  <script src="{% static 'js/jquery.forminline.js' %}"></script>
  <script type="text/javascript">
    $('.formset_row').formset({
      addText: 'agregar producto',
      addCssClass: 'btn waves-effect waves-light',
      deleteText: 'eliminar',
      prefix: 'detalle_pedido_set'
    });
  </script>
{% endblock %}
