<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% load staticfiles %}
  <title>Menú Principal</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" >
  <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
  <section>
    <div class="row menu_lateral" style="min-heigth: 600px;">

      <div class="col s12 m4 l2" style="background: #1D2939; padding-bottom: 12em;"> <!-- Note that "m4 l3" was added -->
        <div class="row">
          <figure>
            <img src="/static/images/logo.png" alt="">
          </figure>
        </div>
        <ul class="nav nav-pills nav-stacked nav-bracket">
          <li class="active"><a href="{% url 'loginusers:menu' %}"><i class="fa fa-home"></i> <span>Menú Principal</span></a></li>
          <li class="nav-parent" data-id="1" ><a href="#" id="collapse"><i class="fa fa-edit"></i> <span>Permisos</span></a>
            <ul class="children">
                <li><a href="{% url 'usuarios:usuario' %}"><i class="fa fa-caret-right"></i> Registro Usuarios</a></li>
              {%  if  perms.grupos  %}
                <li><a href="{% url 'grupos:grupo' %}"><i class="fa fa-caret-right"></i> Registro Roles</a></li>
              {%  endif  %}
            </ul>
          </li>
          <li class="nav-parent" data-id="2" ><a href="#" id="collapse"><i class="fa fa-edit"></i> <span>Compras</span></a>
            <ul class="children">
              {%  if  perms.proveedores.form_view_proveedor  %}
                <li><a href="{% url 'proveedores:proveedor' %}"><i class="fa fa-caret-right"></i> Registro Proveedores</a></li>
              {%  endif  %}
              <li><a href="{% url 'pedidos:pedidosForm' %}"><i class="fa fa-caret-right"></i> Pedidos</a></li>
                <li><a href="{% url 'kardexmateria:form' %}"><i class="fa fa-caret-right"></i> Entrada Mteria Prima</a></li>
            </ul>
          </li>
          <li class="nav-parent" data-id="3" ><a href="#" id="collapse"><i class="fa fa-edit"></i> <span>Producción</span></a>
            <ul class="children">
              {%  if  perms.maquina.form_view_maquina  %}
                <li><a href="{% url 'maquinas:maquinaForm' %}"><i class="fa fa-caret-right"></i> Registro Máquinas</a></li>
              {%  endif  %}
              {%  if  perms.maquina.form_view_maquina  %}
                <li><a href="{% url 'unidades:unidadForm' %}"><i class="fa fa-caret-right"></i> Registro Unidades de Medida</a></li>
              {%  endif  %}
            </ul>
          </li>
          <li class="nav-parent" data-id="4" ><a href="#" id="collapse"><i class="fa fa-edit"></i> <span>Inventarios</span></a>
            <ul class="children">
              {%  if  perms.productos.form_view_producto  %}
                <li><a href="{% url 'productos:producto' %}"><i class="fa fa-caret-right"></i> Registro Productos</a></li>
              {%  endif  %}
              {%  if  perms.materiaprima.form_view_materiaprima  %}
                <li><a href="{% url 'materiaprim:materiaPrimaForm' %}"><i class="fa fa-caret-right"></i> Registro Materia Prima</a></li>
              {%  endif  %}
            </ul>
          </li>
          <li class="active"><a href="{% url 'loginusers:logout' %}"><i class="fa fa-home"></i> <span> Salir</span></a></li>
        </ul>

      </div>
      <div class="col s12 m8 l10" > <!-- Note that "m8 l9" was added -->
        <div class="row">
          <div class="pageheader row" >
            <div class="col s12 m9">
              <h4><i class="fa fa-home"></i>{{tittle}}</h4>
            </div>
            <div class="col s12 m3">
              <h5 class="usernaame">
                {% if user.first_name %}
                  {{ user.first_name }}. ' ' {{ user.last_name }}
                {% else %}
                  {{ user.username }}
                {% endif %}
              </h5>
            </div>
          </div>
          <div class="container_info">
            {% block content %}

            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </section>
  {% block content_modal %}

  {% endblock %}
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
<script>
$(document).ready(function() {
  $('select').material_select();
  $('.modal-trigger').leanModal();

});
</script>
{% block js %}

{% endblock %}
</body>
</html>
