
<div class="col m2">
    <div class="center">
      <button type="submit" class="btn-floating btn-large waves-effect waves-light red md-icon dp48 tooltipped" id="guardarMP" name="guardarMP" data-position="bottom" data-delay="50" data-tooltip="Guardar"><i class="material-icons">save</i>Left</button>
    </div>
    <div class="center">
      <button type="submit" class="btn-floating btn-large waves-effect waves-light red md-icon dp48" id="buscarMP" name="buscarMP" ><i class="material-icons">search</i></button>
    </div>
    <div class="center">
      <button type="submit" class="btn-floating btn-large waves-effect waves-light red" id="modificarMP" name="modificarMP" ><i class="material-icons">add</i></button>
    </div>
    <div class="center">
      <button type="submit" class="btn-floating btn-large waves-effect waves-light red md-icon dp48" id="eliminarMP" name="eliminarMP" ><i class="material-icons">cancel</i></button>
    </div>
    <div class="center">
    </div>
    <div class="center">
      <button type="submit" class="btn-floating btn-large waves-effect waves-light red" id="limpiarMP" name="limpiarMP" ><i class="material-icons">add</i></button>
    </div>

</div>
