{% extends "base.html" %}

{% block content %}
<arrticle class="container_tabla_productos">
  <div class="row">
    <div class="col s12">
      <table class="responsive-table striped table_productos">
        <thead>
          <tr>
            <th>Nombre Producto</th>
            <th>Presentacion</th>
            <th>Descripción</th>
            <th>Categoria</th>
            <th>Costo Producción</th>
            <th>Precio Venta</th>
            <th>Cantidad Inventario</th>
            <th>Stock</th>
            <th>Cantidad Producción</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody id="body_productos">
          {% for producto in object_list %}
          <tr id="formula_{{ producto.id }}" style="border-bottom: 1px solid #d0d0d0; border-top: 1px solid #d0d0d0;">
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.presentacion.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.categoria }}</td>
            <td>{{ producto.costo_produccion }}</td>
            <td>{{ producto.precio_venta }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>{{ producto.stock }}</td>
            <td>{{ producto.cantidad_productos }}</td>
            <td>
              <span class="
              {% if producto.estado %}
                green_text
              {% else %}
                red_text
              {% endif %}">
                {% if producto.estado %}
                  Activo
                {% else %}
                  Inactivo
                {% endif %}
              </span>
            </td>
          </tr>
          <tr id="sub_table_">
            <td COLSPAN="10" id="sub_table_{{ producto.id }}" style="width: 100%;">

            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</arrticle>
{% endblock %}
