<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bienvenida</title>
</head>
<body>
  <header>
    <div class="header_tittle">
      <h2>Bienvenido a Sistema de Productos e Inventarios "Refrescos ChupiFlum"</h2>
    </div>
    <div class="header_logo">
      <figure>
        <img src="" alt="">
      </figure>
    </div>
  </header>
  <section>
    <div class="content">
      <p>Hola {{ nombre }} , te damos la bienvenia a la fabrica de refrescos Chupi Flum</p>
      <p>
        Para poder ingresar a la aplicación Sistema de Productos e Inventarios "Refrescos ChupiFlum",
        debes completar el proceso de inscripción, ingresando el nombre de usuario y la contraseña en el
        siguiente link
      </p>
      <p><a href="{{ url }}">{{ dire }}</a></p>
    </div>
  </section>
</body>
</html>
