{% extends "base.html" %}

  {% block content %}
    <form action="{% url 'usuarios:crear' %}" method="POST">
      <div class="row inputs">
        <div class="col m10">

        {% csrf_token %}
        {{ form.management_form }}
          {% for field in form %}
            {% ifequal field.name "first_name" %}
              <div class="row">
                <div class="input-field col s5">
                  {{ field }}
                  {{ field.label_tag }}
                    {{ field.errors  }}
                </div>
              {% else %}{% ifequal field.name "last_name" %}
                <div class="input-field col s5">
                  {{ field }}
                  {{ field.label_tag }}
                    {{ field.errors  }}
                </div>
              </div>
              {% else %}{% ifequal field.name "email" %}
              <div class="row">
                <div class="input-field col s5">
                  {{ field }}
                  {{ field.label_tag }}
                    {{ field.errors  }}
                </div>
              {% else %}{% ifequal field.name "username" %}
                <div class="input-field col s5">
                  {{ field }}
                  {{ field.label_tag }}
                    {{ field.errors  }}
                </div>
              </div>
              {% else %}{% ifequal field.name "is_superuser" %}
              <div class="row">
                <div class="input-field col s5">
                  {{ field }}
                  {{ field.label_tag }}
                    {{ field.errors  }}
                </div>
              {% else %}{% ifequal field.name "is_active" %}
                <div class="input-field col s5">
                  {{ field }}
                  {{ field.label_tag }}
                    {{ field.errors  }}
                </div>
              </div>
              {% else %}{% ifequal field.name "groups" %}
                <div class="row">
                  <div class="input-field col s5">
                    {{ field }}
                    {{ field.label_tag }}
                      {{ field.errors  }}
                  </div>
                </div>
            {% endifequal %}{% endifequal %}
            {% endifequal %}{% endifequal %}
            {% endifequal %}{% endifequal %}
            {% endifequal %}
          {% endfor %}
      </div>
    </div>
      <div class="col m2">
          <div class="center">
            <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red md-icon dp48 tooltipped" name="guardarMP" data-position="left" data-delay="50" data-tooltip="Guardar"><i class="material-icons">save</i>Left</button>
          </div>
          <div class="center">
            <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red md-icon dp48" id="buscarMP" name="buscarMP" data-position="left" data-delay="50" data-tooltip="Buscar"><i class="material-icons">search</i>Left</button>
          </div>
          <div class="center">
            <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red" id="modificarMP" name="modificarMP" data-position="left" data-delay="50" data-tooltip="Modificar"><i class="material-icons">add</i>Left</button>
          </div>
          <div class="center">
            <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red md-icon dp48" id="eliminarMP" name="eliminarMP" data-position="left" data-delay="50" data-tooltip="Eliminar"><i class="material-icons">cancel</i>Left</button>
          </div>
          <div class="center">
            <a type="submit" style="margin: 1em 0;" href="{% url 'usuarios:listar' %}" class="btn-floating btn-large waves-effect waves-light red md-icon dp48" id="listarP" name="listarP" data-position="left" data-delay="50" data-tooltip="Listar"><i class="material-icons">assignment</i>Left</a>
          </div>

      </div>
    </form>

  {% endblock %}
