{% extends "base.html" %}

{% block content %}
  <form action="{% url 'usuarios:crear' %}" method="POST" id="formulario_usuario">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success" id="alert-messages">
          <button id="message_close" type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
          <i class="material-icons sign md-icon dp48">check</i>
          <strong>{{ message }}</strong>
        </div>
      {% endfor %}
    {% endif %}
    <input type="hidden" name="page" value="usuarios">
    <div class="row inputs">
      <div class="col m10">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s12 l5">
            {{ form.first_name }}
            {{ form.first_name.label_tag }}
            {{ form.first_name.errors  }}
          </div>
          <div class="input-field col s12 l5 offset-l1">
            {{ form.last_name }}
            {{ form.last_name.label_tag }}
            {{ form.last_name.errors  }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 l5">
            {{ form.email }}
            {{ form.email.label_tag }}
            {{ form.email.errors  }}
          </div>
          <div class="input-field col s12 l5 offset-l1">
            {{ form.username }}
            {{ form.username.label_tag }}
            {{ form.username.errors  }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 l5">
            {{ form.password1 }}
            {{ form.password1.label_tag }}
            {{ form.password1.errors  }}
          </div>
          <div class="input-field col s12 l5 offset-l1">
            {{ form.password2 }}
            {{ form.password2.label_tag }}
            {{ form.password2.errors  }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s11">
            {{ form.groups }}
            {{ form.groups.label_tag }}
            {{ form.groups.errors  }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 l5">
            <div class="switch">
              <label>
                Inactivo {{ form.is_active }}
                <span class="lever"></span>
                Activo
              </label>
            </div>
          </div>
        </div>
      </div>
    <div class="col m2">
      <div class="center">
        <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red md-icon dp48 tooltipped" name="guardarUsua" data-position="left" data-delay="50" data-tooltip="Guardar"><i class="material-icons">save</i>Left</button>
      </div>
      <div class="center">
        <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red md-icon dp48 tooltipped" id="buscarUsua" name="buscarUsua" data-position="left" data-delay="50" data-tooltip="Buscar"><i class="material-icons">search</i>Left</button>
      </div>
      <div class="center">
        <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red tooltipped" id="modificarUsua" name="modificarUsua" data-position="left" data-delay="50" data-tooltip="Modificar"><i class="material-icons">add</i>Left</button>
      </div>
      <div class="center">
        <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red md-icon dp48 tooltipped" id="eliminarUsua" name="eliminarUsua" data-position="left" data-delay="50" data-tooltip="Eliminar"><i class="material-icons">cancel</i>Left</button>
      </div>
      <div class="center">
        <a type="submit" href="{% url 'usuarios:listar' %}" class="btn-floating btn-large waves-effect waves-light red md-icon dp48 tooltipped" id="listaUsua" name="listaUsua" data-position="left" data-tooltip="Listar"><i class="material-icons">assignment</i>Left</a>
      </div>
    </div>
  </form>
{% endblock %}
{% block content_modal %}

<div id="modal-alert" class="modal">
  <div class="modal-content">
    <div class="logo">
      <figure>
        <img src="/static/images/logo.png" alt="">
      </figure>
    </div>
    <h2 id="title_modal" class="title_modal"></h2>
    <p id="text-modal" class="text-modal"></p>
    <div class="errors" id="errors"></div>
    <div class="row inputs input_consulta" id="input_consulta">
      <div class="input-field col s10">
        <div class="ui-widget">
          <input type="text" placeholder="Ingrese el usuario" id="consulta_usuario" name="consulta_usuario">
        </div>
        <input type="hidden" placeholder="" id="id_usuario" name="id_usuario">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button id="cancelar_usuario" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</button>
    <button id="consultar_usu" class=" modal-action modal-close waves-effect waves-green btn-flat">Consultar</button>
  </div>
</div>
{% endblock %}
