{% extends "base.html" %}

{% block content %}
<arrticle class="container_tabla_provee">
  <div class="row">
    <div class="col s12">
      <table class="responsive-table striped">
        <thead>
          <tr>
            <th>Nombre Producto</th>
            <th>Descripción</th>
            <th>Unidad de Meidda</th>
            <th>Categoria</th>
            <th>Cantidad Existente</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          {% for materia in object_list %}
          <tr>
            <td>{{ materia.nombre }}</td>
            <td>{{ materia.descripcion }}</td>
            <td>{{ materia.unidad_medida }}</td>
            <td>{{ materia.categoria }}</td>
            <td>{{ materia.cantidad }}</td>
            <td>
              <span class="
              {% if materia.estado %}
                green_text
              {% else %}
                red_text
              {% endif %}">
                {% if materia.estado %}
                  Activo
                {% else %}
                  Inactivo
                {% endif %}
              </span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</arrticle>
{% endblock %}
