{% extends "base.html" %}

{% block content %}
<form id="formulario_provee" action="{% url 'proveedores:crear' %}" method="POST">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success" id="alert-messages">
        <button id="message_close" type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
        <i class="material-icons sign md-icon dp48">check</i>
        <strong>{{ message }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  <div class="row inputs">
    <div class="col m10">
      {% csrf_token %}
      {{ form.management_form }}
      <div class="row">
        <div class="input-field col s5">
          {{ form.nit }}
          {{ form.nit.label_tag }}
          {{ form.nit.errors  }}
        </div>
        <div class="input-field col s5">
          {{ form.empresa }}
          {{ form.empresa.label_tag }}
          {{ form.empresa.errors  }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s5">
          {{ form.direccion }}
          {{ form.direccion.label_tag }}
          {{ form.direccion.errors  }}
        </div>
        <div class="input-field col s5">
          {{ form.telefono }}
          {{ form.telefono.label_tag }}
          {{ form.telefono.errors  }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s5">
          {{ form.fax }}
          {{ form.fax.label_tag }}
          {{ form.fax.errors  }}
        </div>
        <div class="input-field col s5">
          {{ form.correo_empresa }}
          {{ form.correo_empresa.label_tag }}
          {{ form.correo_empresa.errors  }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s5">
          {{ form.nombre_contacto }}
          {{ form.nombre_contacto.label_tag }}
          {{ form.nombre_contacto.errors  }}
        </div>
        <div class="input-field col s5">
          {{ form.apellido_contacto }}
          {{ form.apellido_contacto.label_tag }}
          {{ form.apellido_contacto.errors  }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s5">
          {{ form.telefono_contacto }}
          {{ form.telefono_contacto.label_tag }}
          {{ form.telefono_contacto.errors  }}
        </div>
        <div class="input-field col s5">
          {{ form.correo_contacto }}
          {{ form.correo_contacto.label_tag }}
          {{ form.correo_contacto.errors  }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s5">
          <div class="switch">
            <label>
              Inactivo {{ form.estado }}
              <span class="lever"></span>
              Activo
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col m2">
        <div class="center">
          <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red md-icon dp48 tooltipped" name="guardarProve" data-position="left" data-delay="50" data-tooltip="Guardar"><i class="material-icons">save</i>Left</button>
        </div>
        <div class="center">
          <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red md-icon dp48 tooltipped" id="buscarProve" name="buscarProve" data-position="left" data-delay="50" data-tooltip="Buscar"><i class="material-icons">search</i>Left</button>
        </div>
        <div class="center">
          <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red tooltipped" id="modificarProve" name="modificarProve" data-position="left" data-delay="50" data-tooltip="Modificar"><i class="material-icons">add</i>Left</button>
        </div>
        <div class="center">
          <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red md-icon dp48 tooltipped" id="eliminarProve" name="eliminarProve" data-position="left" data-delay="50" data-tooltip="Eliminar"><i class="material-icons">cancel</i>Left</button>
        </div>
        <div class="center">
          <a type="submit" href="{% url 'proveedores:listar' %}" class="btn-floating btn-large waves-effect waves-light red md-icon dp48 tooltipped" id="listaProve" name="listaProve" data-tooltip="Listar" ><i class="material-icons">assignment</i>Left</a>
        </div>
    </div>
  </div>
</form>

{% endblock %}

{% block content_modal %}

<div id="modal-alert" class="modal">
  <div class="modal-content">
    <div class="logo">
      <figure>
        <img src="/static/images/logo.png" alt="">
      </figure>
    </div>
    <h2 id="title_modal" class="title_modal"></h2>
    <p id="text-modal" class="text-modal"></p>
    <div class="errors" id="errors"></div>
    <div class="row inputs input_consulta" id="input_consulta">
      <div class="input-field col s10">
        <div class="ui-widget">
          <input type="text" placeholder="" id="consulta_nit" name="consulta_nit">
        </div>
        <input type="hidden" placeholder="" id="id" name="id">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button id="cancelar_prove" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</button>
    <button id="consultar_prove" class=" modal-action modal-close waves-effect waves-green btn-flat">Consultar</button>
  </div>
</div>
{% endblock %}
