{% extends "base.html" %}

{% block content %}
<form id="formulario_provee" action="{% url 'proveedores:crear' %}" method="POST">
  <div class="row inputs">
    <div class="col m10">

    {% csrf_token %}
    {{ form.management_form }}
    {% for field in form %}
      {% ifequal field.name "nit" %}
      <div class="row">
        <div class="input-field col s5">
          {{ field }}
          {{ field.label_tag }}
            {{ field.errors  }}
        </div>
      {% else %}{% ifequal field.name "empresa" %}
        <div class="input-field col s5">
          {{ field }}
          {{ field.label_tag }}
            {{ field.errors  }}
        </div>
      </div>
      {% else %}{% ifequal field.name "direccion" %}
      <div class="row">
        <div class="input-field col s5">
          {{ field }}
          {{ field.label_tag }}
            {{ field.errors  }}
        </div>
      {% else %}{% ifequal field.name "telefono" %}
        <div class="input-field col s5">
          {{ field }}
          {{ field.label_tag }}
            {{ field.errors  }}
        </div>
      </div>
      {% else %}{% ifequal field.name "fax" %}
      <div class="row">
        <div class="input-field col s5">
          {{ field }}
          {{ field.label_tag }}
            {{ field.errors  }}
        </div>
      {% else %}{% ifequal field.name "correo_empresa" %}
        <div class="input-field col s5">
          {{ field }}
          {{ field.label_tag }}
            {{ field.errors  }}
        </div>
      </div>
      {% else %}{% ifequal field.name "nombre_contacto" %}
      <div class="row">
        <div class="input-field col s5">
          {{ field }}
          {{ field.label_tag }}
            {{ field.errors  }}
        </div>
      {% else %}{% ifequal field.name "apellido_contacto" %}
          <div class="input-field col s5">
            {{ field }}
            {{ field.label_tag }}
              {{ field.errors  }}
          </div>
        </div>
      {% else %}{% ifequal field.name "telefono_contacto" %}
        <div class="row">
          <div class="input-field col s5">
            {{ field }}
            {{ field.label_tag }}
              {{ field.errors  }}
          </div>
        {% else %}{% ifequal field.name "correo_contacto" %}
          <div class="input-field col s5">
            {{ field }}
            {{ field.label_tag }}
              {{ field.errors  }}
          </div>
        </div>
        {% endifequal %}{% endifequal %}
        {% endifequal %}{% endifequal %}
        {% endifequal %}{% endifequal %}
        {% endifequal %}{% endifequal %}
        {% endifequal %}{% endifequal %}
    {% endfor %}
  </div>
  <div class="col m2">
      <div class="center">
        <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red md-icon dp48 tooltipped" name="guardarMP" data-position="left" data-delay="50" data-tooltip="Guardar"><i class="material-icons">save</i>Left</button>
      </div>
      <div class="center">
        <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red md-icon dp48" id="buscarMP" name="buscarMP" data-position="left" data-delay="50" data-tooltip="Buscar"><i class="material-icons">search</i>Left</button>
      </div>
      <div class="center">
        <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red" id="modificarMP" name="modificarMP" data-position="left" data-delay="50" data-tooltip="Modificar"><i class="material-icons">add</i>Left</button>
      </div>
      <div class="center">
        <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red md-icon dp48" id="eliminarMP" name="eliminarMP" data-position="left" data-delay="50" data-tooltip="Eliminar"><i class="material-icons">cancel</i>Left</button>
      </div>
      <div class="center">
        <a type="submit" href="{% url 'proveedores:listar' %}" class="btn-floating btn-large waves-effect waves-light red md-icon dp48" id="listarP" name="listarP" ><i class="material-icons">assignment</i></a>
      </div>

  </div>
    </div>
</form>

{% endblock %}
{% block content_modal %}

<div id="modal-alert" class="modal">
  <div class="modal-content">
    <div class="logo">
      <figure>
        <img src="/static/images/logo.png" alt="">
      </figure>
    </div>
    <h2 id="title_modal" class="title_modal"></h2>
    <p id="text-modal" class="text-modal"></p>
    <div class="errors" id="errors"></div>
    <div class="row inputs input_consulta" id="input_consulta">
      <div class="input-field col s10">
        <div class="ui-widget">

          <input type="text" placeholder="" id="consulta_nit" name="consulta_nit">
          <label for="consulta_nit">Ingrese número del nit:</label>
        </div>
        <input type="hidden" placeholder="" id="id" name="id">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button id="cancelar_prove" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</button>
    <button id="consultar_prove" class=" modal-action modal-close waves-effect waves-green btn-flat">Consultar</button>
  </div>
</div>
{% if messages.succes %}
  <script type="text/javascript">
    Materialize.toast({{ messages.succes }}, 3000, 'rounded')
  </script>
{% endif %}

{% endblock %}
