{% extends "base.html" %}

{% block content %}
<form action="{% url 'proveedores:crear' %}" method="POST">
  <div class="row inputs">
    {% csrf_token %}
    {{ form.management_form }}
    {% for field in form %}
    <div class="input-field col s5">
      {{ field }}
      {{ field.label_tag }}
    </div>
    {% endfor %}
  </div>
  <div class="row butons">
    <input type="submit" class="waves-effect waves-light btn" id="guardar" name="guardar" value="guardar">
    <input type="submit" class="waves-effect waves-light btn" id="buscar" name="buscar" value="buscar">
    <input type="submit" class="waves-effect waves-light btn" id="modificar" name="modificar" value="modificar">
    <input type="submit" class="waves-effect waves-light btn" id="eliminar" name="eliminar" value="eliminar">
    <a type="submit" href="/MenuPrincipal/Proveedor/Listar" class="waves-effect waves-light btn" id="listar" name="listar" value="Listar">Listar</a>
    <input type="submit" class="waves-effect waves-light btn" id="limpiar" name="limpiar" value="limpiar">
  </div>
</form>

{% endblock %}
