{% extends "base.html" %}

{% block content %}
<arrticle class="container_tabla_provee">
  <div class="row">
    <div class="col s12">
      <table class="responsive-table striped">
        <thead>
          <tr>
            <th>Nombre Producto</th>
            <th>Descripción</th>
            <th>Unidad de Meidda</th>
            <th>Categoria</th>
            <th>Cantidad Entrante</th>
            <th>Cantidad Existente</th>
          </tr>
        </thead>
        <tbody>
          {% for producto in object_list %}
          <tr>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.unidad_medida }}</td>
            <td>{{ producto.categoria }}</td>
            <td>{{ producto.cantidad_entrada }}</td>
            <td>{{ producto.cantidad }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</arrticle>
{% endblock %}
