{% extends "base.html" %}

{% block content %}
<arrticle class="container_tabla_provee">
  <div class="row">
    <div class="row">
      <div class="button">
        <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Reportes</a>
        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          <li><a href="{% url 'maquinas:reporte_pdf' %}" target="_blank">Formato PDF</a></li>
        </ul>
      </div>
    </div>
    <div class="col s12">
      <table class="responsive-table striped">
        <thead>
          <tr>
            <th>Nombre Máquina</th>
            <th>Descripción</th>
            <th>Capacidad</th>
            <th>Unidad de Medida</th>
            <th>Tiempo</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          {% for maquina in object_list %}
          <tr>
            <td>{{ maquina.nombre }}</td>
            <td>{{ maquina.descripcion }}</td>
            <td>{{ maquina.capacidad }}</td>
            <td>{{ maquina.unidad_medida }}</td>
            <td>{{ maquina.tiempo }}</td>
            <td>
              <span class="
              {% if maquina.estado %}
                green_text
              {% else %}
                red_text
              {% endif %}">
                {% if maquina.estado %}
                  Activo
                {% else %}
                  Inactivo
                {% endif %}
              </span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</arrticle>
{% endblock %}
