{% extends "base.html" %}

{% block content %}
<form action="{% url 'maquinas:crear' %}" id="formulario_maqui" method="POST">
  {% if messages %}

      {% for message in messages %}
        <div class="alert alert-success">
          <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
          <i class="fa fa-check sign"></i>
          <strong>Success!</strong> {{ message }}
        </div>
      {% endfor %}
  {% endif %}
  <div class="row inputs">
    {% csrf_token %}
    <div class="col s12 m10">
      <div class="row">
        <div class="input-field col s5">
          {{ form.nombre }}
          {{ form.nombre.label_tag }}
            {{ form.nombre.errors  }}
        </div>
        <div class="input-field col s5">
          {{ form.descripcion }}
          {{ form.descripcion.label_tag }}
            {{ form.descripcion.errors  }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s5">
          {{ form.capacidad }}
          {{ form.capacidad.label_tag }}
            {{ form.capacidad.errors  }}
        </div>
        <div class="input-field col s5">
          {{ form.unidad_medida }}
          {{ form.unidad_medida.label_tag }}
            {{ form.unidad_medida.errors  }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s5">
          {{ form.tiempo }}
          {{ form.tiempo.label_tag }}
          {{ form.tiempo.errors  }}
        </div>
        <div class="input-field col s5">
          <div class="switch">
            <label>
              Inactivo {{ form.estado }}
              <span class="lever"></span>
              Activo
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col m2">
        <div class="center">
          <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red md-icon dp48 tooltipped"  name="guardarMaquina" data-position="left" data-delay="50" data-tooltip="Guardar"><i class="material-icons">save</i>Left</button>
        </div>
        <div class="center">
          <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red md-icon dp48 tooltipped" id="buscarMaquina" name="buscarMaquina" data-position="left" data-delay="50" data-tooltip="Buscar"><i class="material-icons">search</i>Left</button>
        </div>
        <div class="center">
          <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red tooltipped" id="modificarMaquina" name="modificarMaquina" data-position="left" data-delay="50" data-tooltip="Modificar"><i class="material-icons">add</i>Left</button>
        </div>
        <div class="center">
          <button type="submit" style="margin: 1em 0;" class="btn-floating btn-large waves-effect waves-light red md-icon dp48 tooltipped" id="eliminarMaquina" name="eliminarMaquina" data-position="left" data-delay="50" data-tooltip="Eliminar"><i class="material-icons">cancel</i>Left</button>
        </div>
        <div class="center">
          <a type="submit" href="{% url 'maquinas:listar' %}" class="btn-floating btn-large waves-effect waves-light red md-icon dp48 tooltipped" id="listarMaquina" name="listarMaquina" data-position="left" data-delay="50" data-tooltip="Listar" ><i class="material-icons">assignment</i>Left</a>
        </div>
    </div>
  </div>
</form>

{% endblock %}
{% block content_modal %}

<div id="modal-alert-ma" class="modal">
  <div class="modal-content">
    <div class="logo">
      <figure>
        <img src="/static/images/logo.png" alt="">
      </figure>
    </div>
    <h2 id="title_modal" class="title_modal"></h2>
    <p id="text-modal" class="text-modal"></p>
    <div class="errors" id="errors"></div>
    <div class="row inputs input_consulta" id="input_consulta">
      <div class="input-field col s10">
        <div class="ui-widget">
          <input type="text" id="consultar_maq" name="consultar_maq" placeholder="Ingrese el nombre de la maquina">
          <input type="hidden" placeholder="" id="id_maquina" name="id_maquina">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button id="cancelar_maqui" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</button>
    <button id="consultar_maquin" class=" modal-action modal-close waves-effect waves-green btn-flat">Consultar</button>
  </div>
</div>
{% endblock %}
