{% extends "base.html" %}

{% block content %}
<arrticle class="container_tabla_provee">
  <div class="row">
    <div class="col s12">
      <table class="responsive-table striped">
        <thead>
          <tr>
            <th>Nombre Maquina</th>
            <th>Descripción</th>
            <th>Capacidad</th>
            <th>Unidad de Meidda</th>
            <th>Tiempo</th>
          </tr>
        </thead>
        <tbody>
          {% for producto in object_list %}
          <tr>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.capacidad }}</td>
            <td>{{ producto.unidad_medida }}</td>
            <td>{{ producto.tiempo }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</arrticle>
{% endblock %}
