{% extends "base.html" %}

  {% block content %}
    <form action="{% url 'grupos:crear' %}" method="POST">
      <div class="row inputs">
        {% csrf_token %}
        {{ form.management_form }}
          {% for field in form %}
          {% ifequal field.name "name" %}
            <div class="row">
              <div class="input-field col s7">
                {{ field }}
                {{ field.label_tag }}
                  {{ field.errors  }}
              </div>
            </div>
            {% else %}{% ifequal field.name "permissions" %}
            <div class="row">
              <div class="input-field col s10">
                {{ field }}
                {{ field.label_tag }}
                  {{ field.errors  }}
              </div>
            </div>
          {% endifequal %}{% endifequal %}
          {% endfor %}
      </div>
      <div class="row butons">
        <input type="submit" class="waves-effect waves-light btn" id="guardarP" name="guardarP" value="guardar">
        <input type="submit" class="waves-effect waves-light btn" id="buscarP" name="buscarP" value="buscar">
        <input type="submit" class="waves-effect waves-light btn" id="modificarP" name="modificarP" value="modificar">
        <input type="submit" class="waves-effect waves-light btn" id="eliminarP" name="eliminarP" value="eliminar">
        <a type="submit" href="/MenuPrincipal/Productos/Listar/" class="waves-effect waves-light btn" id="listarP" name="listarP" value="Listar">Listar</a>
        <input type="submit" class="waves-effect waves-light btn" id="limpiarP" name="limpiarP" value="limpiar">
      </div>
    </form>

  {% endblock %}
